// 公共布局，垂直居中
.layout {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    // justify-content: center;
}

// 头部导航栏
.header {
    // height: 140px;
    flex-direction: column;
    // background-size: 100% 100%;
    // margin-left: auto;
    // margin-right: auto;
}

WH = 100%;

// 第一导航栏
.navigateBar {
    width: WH;
    height: 50px;
    background-color: rgba(54, 54, 54, 1);
    // border: 2px solid red;
}

// 第二导航栏
.navigateList {
    width: WH;
    height: 100px;
    background-color: color;
    // margin-top: 20px;
    // border: 2px solid red;
    justify-content: center;
}

// 未选中时的导航键公共样式
.page, .item {
    height: WH;
    display: flex;
    align-items: center; // 垂直居中
    justify-content: center;
    // text-align: center;
    // border: 1px solid black;
    onselectstart = 'return false;';
}

.page {
    width: 10%;
    color: white;
    font-size: 1.5vw;
    margin-left: 3%;
}

.item {
    width: 15%;
    flex-direction: column;
    font-size: 1.25vw;
}

// 被选中的导航键公共样式
.selectedPage, .selectedItem {
    height: WH;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectedPage {
    width: 10%;
    font-size: 1.5vw;
    // font-weight: bold;
    color: rgba(250 250 250 0.5);
    margin-left: 3%;
}

.selectedItem {
    width: 15%;
    flex-direction: column;
    font-size: 1.4vw;
    font-weight: bold;
    color: rgba(0 0 0 0.9);
}

// 鼠标覆盖时第一导航栏样式
.page:hover {
    // background-color: rgba(260 260 260 0.9);
    color: rgba(250 250 250 0.5);
}

// 鼠标覆盖时第二导航栏样式
.item:hover {
    font-weight: bold;
    color: rgba(0 0 0 0.6);
}

// 第一导航栏中主页距离左边距离
.home {
    margin-left: 2%;
}

// logo图标样式
.logo {
    margin-left: 10%;
    width: 40px;
    height: 40px;
}

// svg图样式
.svg-icon {
    width: 100px;
    height: 100px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}